@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');



*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button{
    background-color: purple;
    color: white;
    border: none;
    padding: 20px 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

button:focus{
    outline: none;
}

button .circle{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    animation: scale 0.5s ease-out;
}

@keyframes scale{
    from{
        transform: translate(-50%, -50%) scale(0);

    }
    to{
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}