@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


*{
    box-sizing: border-box;
}


body{
    background-color: #2a2a72;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.user-form{
    width: 100%;
    max-width: 700px;
}

.user-form input{
    width: 100%;
    display: block;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border: none;
    background-color: #4c2885;
    color: white;
    box-shadow: 0 5px 10px  rgba(154, 160, 185, 0.05), 0 15px 40px  rgba(154, 160, 185, 0.1);
    font-family: inherit;
    font-size: 1rem;
}

.user-form input:focus{
    outline: none;
}

.user-form input::placeholder{
    color:#bbb;
}

input:-webkit-autofill{
    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: white !important;
}

.card{
    display: flex;
    max-width: 880px;
    background-color: #4c2885;
    border-radius: 20px;
    padding: 3rem;
    margin: 0rem 1.5rem;
    box-shadow: 0 5px 10px  rgba(154, 160, 185, 0.05), 0 15px 40px  rgba(154, 160, 185, 0.1);
}


.card h1{
    color: white;
    text-align: center;
}

.avatar{
    border: 10px solid #2a2a72;
    border-radius: 50%;
    
}

.user-info{
    color: white;
    margin-left: 2rem;
}

.user-info h2{
    margin-top: 0;
}

.user-info ul{
    display: flex;
    justify-content: space-evenly;
    
    list-style-type: none;
    padding: 0;
    
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    margin-left: 0.5rem;
    font-size: 0.98rem;
}

.repo{
    text-decoration: none;
    color: white;
    background-color: #2a2a72;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
}

@media(max-width: 700px){

    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form{
        max-width: 600px;
    }
    .user-info{
        text-align: center;
        margin:0;
    }

}
